# SERIES



- A sequence of values with associated labels.

In [ ]:
students = ['Mark', 'Hanna', 'Luke'] #Simple list saved on a variable

In [ ]:
type(students) #With type we are able to know what is in our variable

list

In [ ]:
import pandas as pd #How we import the pandas library into our notebook
pd.Series(students) #With pd.Series() we are able to transform our varible into a serie, meaning, our sequence of values has a label with it, in this case the index number.

0     Mark
1    Hanna
2     Luke
dtype: object

# PARAMETERS VS. ARGUMENTS

**LECTURE 2 - Parameters Vs. Arguments**

- Parameters are variables in a method definition. Arguments are the values we associate with those parameters.

In [ ]:
pd.Series(students) #students in this case is the parameter. The values, such as Mark and Hanna, are the arguments.

0     Mark
1    Hanna
2     Luke
dtype: object

# WHAT'S IN THE DATA

**LECTURE 3 - What's in the data?**

- We can use both lists or dictionaries in order to generate pandas series.

In [ ]:
my_list = ['Value 0', 'Value 1', 'Value 3']
type(my_list)

list

In [ ]:
my_dict = {0:'Value 0', 1:'Value 1', 2:'Value 2'}
type(my_dict)

dict

In [ ]:
pd.Series(my_list)

0    Value 0
1    Value 1
2    Value 3
dtype: object

In [ ]:
pd.Series(my_dict)

0    Value 0
1    Value 1
2    Value 2
dtype: object

# D.TYPE ATTRIBUTE

**LECTURE 4 - d.type Attribute**

We are able to define what kind of data type we want to apply to our series as in the example below.

In [ ]:
ages = [20, 30, 50]
pd.Series(ages, dtype='float')  #In this case it was set the list of ages to be float for instance. 
                                #By default any series we create and don't specify data types will be set as object.
                                #By default any series we create with different data types will be set as an object.

0    20.0
1    30.0
2    50.0
dtype: float64

# INDEX

**LECTURE 5 - INDEX**

It starts at zero if we don't specify our own index. However we can set different indexes. We can also customize our index.

We can set variables and create indexes in it through the pd.RangeIndex() where we set where it starts and where it ends.

In [ ]:
created_index = pd.RangeIndex(start=70, stop=74)

In [ ]:
books = ['Anne Frank', 'Cookbook', 'Geografy Book', 'Math Book']

In [ ]:
books_with_index = pd.Series(books, created_index, dtype='string')
books_with_index

70       Anne Frank
71         Cookbook
72    Geografy Book
73        Math Book
dtype: string

# SERIES' NAMES

We can use .name = '' in order to name a series. This name is going to show up next to the series dtype.

When we work with dataframes this name will be set in one of the columns.

We can also name the index through variable_name.index.name = ''

In [ ]:
cities = ['São Vicente', 'Santos', 'Guarujá']
cities_index = pd.RangeIndex(start=100, stop=103)
seaside_cities = pd.Series(cities, cities_index, dtype='string')
seaside_cities.name = 'Seaside Cities in Brazil'
seaside_cities.index.name = 'Cities'
seaside_cities

Cities
100    São Vicente
101         Santos
102        Guarujá
Name: Seaside Cities in Brazil, dtype: string

# SKILL CHALLENGE

1. Create Python list of length 4 that contains actors names. List of strings. Assign it to a variable named actor_names.

2. Create a list of lenght 4 that contains actors ages. Call this list actor_ages.

3. Create a series that stores actor name in the index and actor age as values. Name it actors.

4. Repeat step 3, create the series from a Python dictionary. As an additional challenge, try not to type the dictionary manually, but instead dynamically create it using two lists defined in Steps 1 and 2.

In [ ]:
#1

actor_names = ['George Clooney', 'George Lucas', 'Robert De Niro', 'Chris Rock']

In [ ]:
#2

actor_ages = [61, 78, 79, 57]

In [ ]:
#3

actors = pd.Series(actor_ages, actor_names)
actors.name = 'Skill Challenge 1'
actors.index.name = 'Actor Names and Ages'
actors

Actor Names and Ages
George Clooney    61
George Lucas      78
Robert De Niro    79
Chris Rock        57
Name: Skill Challenge 1, dtype: int64

In [ ]:
#4
actors_dict = zip(actor_names, actor_ages)
actors_ = pd.Series(actors_dict, name='Skill Challenge 1')
actors_

0    (George Clooney, 61)
1      (George Lucas, 78)
2    (Robert De Niro, 79)
3        (Chris Rock, 57)
Name: Skill Challenge 1, dtype: object

# HEAD() AND TAIL() METHODS

In [ ]:
actors_.head(2)

0    (George Clooney, 61)
1      (George Lucas, 78)
Name: Skill Challenge 1, dtype: object

In [ ]:
actors_.tail(2)

2    (Robert De Niro, 79)
3        (Chris Rock, 57)
Name: Skill Challenge 1, dtype: object

# EXTRACTING BY INDEX POSITION

- In order to extract info by index position this is what is done:

  variable_name[index position]

In [ ]:
from string import ascii_lowercase
letters = list(ascii_lowercase)
alphabet = pd.Series(letters)
alphabet

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

1. What is the 1st letter?
2. What is the 11th letter?
3. What are the first 3 letters?
4. What are the sixth through tenth letters?
5. What are the last six letters?

In [ ]:
#1

alphabet[0]

'a'

In [ ]:
#2

alphabet[10]

'k'

In [ ]:
#3

alphabet[0:3]

0    a
1    b
2    c
dtype: object

In [ ]:
#4

alphabet[6:10]

6    g
7    h
8    i
9    j
dtype: object

In [ ]:
#5

alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

# ACCESSING ELEMENTS BY LABEL

- In order to extract info by label this is what is done:

  variable_name[label_name or label_number]

In [ ]:
from string import ascii_uppercase
letters_ = list(ascii_uppercase)
alphabet_upper = pd.Series(letters_, map(lambda x: 'label_' + x, list(letters)))
alphabet_upper

label_a    A
label_b    B
label_c    C
label_d    D
label_e    E
label_f    F
label_g    G
label_h    H
label_i    I
label_j    J
label_k    K
label_l    L
label_m    M
label_n    N
label_o    O
label_p    P
label_q    Q
label_r    R
label_s    S
label_t    T
label_u    U
label_v    V
label_w    W
label_x    X
label_y    Y
label_z    Z
dtype: object

1. What is the 1st letter?
2. What is the 11th letter?
3. What are the first 3 letters?
4. What are the sixth through tenth letters?
5. What are the last six letters?

In [ ]:
#1
alphabet_upper['label_a']

'A'

In [ ]:
#2
alphabet_upper['label_k']

'K'

In [ ]:
#3
alphabet_upper[:'label_c']

label_a    A
label_b    B
label_c    C
dtype: object

In [ ]:
#4
alphabet_upper['label_f':'label_j']

label_f    F
label_g    G
label_h    H
label_i    I
label_j    J
dtype: object

In [ ]:
#5

alphabet_upper['label_u':]

label_u    U
label_v    V
label_w    W
label_x    X
label_y    Y
label_z    Z
dtype: object

# ADD_PREFIX() AND ADD_SUFFIX() METHODS

- These methods are used in order to add a prefix or suffix as in the example bellow:

```
   pd_or_df.add_prefix('my_prefix')
   pd_or_df.add_suffix('my_suffix')
```

In [ ]:
alphabet.add_prefix('label_')

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

# USING DOT NOTATION

DOT NOTATION allows us to find an specific piece of data through its index. It only works with indexes we set and not the ones by default.

```
my_variable.index_I_want
```

In [ ]:
new_alphabet = pd.Series(letters, letters_)
new_alphabet

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

In [ ]:
new_alphabet.M

'm'

# .LOC INDEXER

- It is the standard way to make label based extractions.
- We can also extract boolean masks. They need to be the same length as the series.

In [ ]:
new_alphabet.loc['A':'F']

A    a
B    b
C    c
D    d
E    e
F    f
dtype: object

In [ ]:
new_alphabet.loc[[True for i in range(26)]]

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

# .ILOC - EXTRACTING BY POSITION

- While loc indexes by label, iloc however indexes by position

In [ ]:
new_alphabet.iloc[0:20]

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
dtype: object

In [ ]:
new_alphabet.iloc[[1,7,16]]

B    b
H    h
Q    q
dtype: object

# .GET() METHOD

- This method has the .loc and .iloc capabilities and allows us to extract label based information as well as position information.

In [ ]:
new_alphabet.get('a')

In [ ]:
new_alphabet.get('A')

'a'

In [ ]:
new_alphabet.get('S')

's'

# RECAP

- [] slices, callables, boolean masks
- .loc[] slices, callables, boolean masks
- dot access no slice or boolean mask support
- .get() no slice support, provides default, forgiving